
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #e2eafc;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
    }

    main {
      background-color: #ffffff;
      width: 90%;
      max-width: 500px;
      border-radius: 20px;
      text-align: center;
      padding: 30px 20px;
      border: 2px solid #d1cfe2;
    }

    header img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-top: 10px;
      border: 4px solid #4361ee;
    }

    h1 {
      font-size: 30px;
      color: #333;
      margin-top: 10px;
    }

    p {
      color: #666;
      margin-bottom: 10px;
    }

    .redes ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 25px;
    }

    .redes li a img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 3px;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      margin: 15px 0;
    }

    nav a {
      background-color: #4361ee;
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      width: 85%;
      margin: 0 auto;
      padding: 15px 20px;
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      border-radius: 12px;
      transition: background 0.3s;
    }

    nav a:hover {
      background-color: #02197e;
    }

    nav a img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 15px; 
    }

    nav a span {
      text-align: center; 
    }
